<section id="add">  
  <form action="/add_candidate" method="post">  
    <textarea name="sentence" placeholder="Your sentence&hellip;"></textarea>  
    <input type="submit" value="Send to Tower">
  	<label for="source">Source Language: </label>
	<select name="source">
		<option value="en">English</option>
		<option value="es">Spanish</option>
		<option value="ga">Irish</option>
	</select>
	<label for="target" id = "target">Target Language: </label>
	<select name="target">
		<option value="en">English</option>
		<option value="es">Spanish</option>
		<option value="ga">Irish</option>
	</select>
  </form>  
</section>