<p>You must translate the following from <%= @chain.candidate.target%> to <%= @chain.candidate.source%></p>
<p><%= @chain.l2attempt.sentence%></p>
 
  <form action="/submit_l1" method="post">
	<input type="hidden" name="chain" value= "<%= @l1attempt.chain.id%>" >  
    <textarea name="sentence" placeholder="Your translation&hellip;"></textarea>  
    <input type="submit" value="Return to Tower">
  </form>