<div id="intro"><p>Come citizens of modern earth, come now and make your choice,</br>
To defy at last the mighty God and united be of voice.</p>

<p>Together we'll restore the tower, once built in days of yore,</br>
And colour, creed nor language will divide our force no-more.</p>

<p>Rewarded will your efforts be, when our great toil is done,</br>
For limitless is our fate when we'll communicate as one.</p>

<p>From here, with your endurance, to the heavens we can speed,</br>
So come now slave, join in the toil and through the ranks proceed.</p>
</div>
  
