<p>You must translate the following from <%= @candidate.source%> to <%= @candidate.target%></p>
<p><%= @candidate.sentence%></p>
 
  <form action="/submit_l2" method="post">
	<input type="hidden" name="chain" value= "<%= @l2attempt.chain.id%>" >  
    <textarea name="sentence" placeholder="Your translation&hellip;"></textarea>  
    <input type="submit" value="Return to Tower">
  </form>  