<span class='notice'>You must be logged in to perform that operation, please</span>
<%= link_to '/login','Log in', {:class=>'link'} %>
<span class='notice'>or</span>
<%= link_to '/register','Register', {:class=>'link'} %>
