<p>The academic paper that accompanies the game can be downloaded <a href="report.pdf">here</a></p>

<p>The code behind the game is available for download from github <a href="https://github.com/havingabath/sinatra_gwap">here</a></p>
 