<section>  
  <form action="/register" method="post">  
    <p><label for="name">Name</label> <input type="text" id="name" name="name" /></p>
	<p><label for="email">E-mail</label> <input type="text" id="email" name="email" /></p>
	<p><label for="password">Password</label> <input type="text" id="password" name="password" /></p>
  	<label for="mother_tongue">Mother Tongue: </label>
	<select name="mother_tongue">
		<option value="en">English</option>
		<option value="es">Spanish</option>
		<option value="ga">Irish</option>
	</select>
	<p ><input type="submit" value="Submit" /></p>
  </form>  
</section>