body {  
    margin: 35px auto;  
    width: 640px; 
}  
  
header {  
    text-align: center;  
    margin: 0 0 20px;  
}  
  
header h1 {  
    display: inline;  
    font-size: 32px;
 	font-family: 'Bookman Old Style', serif;
}  
  
header h1 a:link, header h1 a:visited {  
    color: #444;  
    text-decoration: none;  
}  
  
header h2 {  
    font-size: 16px;  
    font-style: italic;  
    color: #999;  
}  

header h3 {
	font-size: 12px;
	color: #8B0000;
}
  
#main {  
    margin: 0 0 20px;  
}  
  
#input_section {  
    margin: 0 0 20px;  
}  
  
#input_section textarea {  
    height: 30px;  
    width: 500px;  
    padding: 10px;  
    border: 1px solid #ddd;  
}  
  
#input_section input {  
    height: 50px;  
    width: 110px;  
    margin: -50px 0 0;  
    border: 1px solid #ddd;  
    background: white;  
	font-style: bold;
	font-size: 12px;
}  
  
#edit textarea {
    height: 30px;  
    width: 480px;  
    padding: 10px;  
    border: 1px solid #ddd;  
}  
  
#edit input[type=submit] {  
    height: 50px;  
    width: 100px;  
    margin: -50px 0 0;  
    border: 1px solid #ddd;  
    background: white;  
}  
  
#edit input[type=checkbox] {  
    height: 50px;  
    width: 20px;  
}  
  
article {  
    border: 1px solid #eee;  
    border-top: none;  
    padding: 15px 10px;  
}  
  
article:first-of-type {  
    border: 1px solid #eee;  
}  
  
article:nth-child(even) {  
    background: #fafafa;  
}  
  
article.complete {  
    background: #fedae3;  
}  
  
article span {  
    font-size: 0.8em;  
}  
  
p {  
    margin: 0 0 5px;  
}  
  
.meta {  
    font-size: 0.8em;  
    font-style: italic;  
    color: #888;  
}  
  
.links {  
    font-size: 1.8em;  
    line-height: 0.8em;  
    float: rightright;  
    margin: -10px 0 0;  
}  
  
.links a {  
    display: block;  
    text-decoration: none;  
}

.lang_source {
	font-size: 1.0em;    
    color: #888;
	
}

.lang_target {
	font-size: 1.0em;    
    color: #444;
	
}

.machine{
	color: #8B0000;
}

#logo {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: none;
	margin-left: auto;
	margin-right: auto;
}

#target {
	padding-left: 30px;
	
}

#input_sentence{
	font-size: 1.5em;
}

#intro{
	font-family: 'Bookman Old Style', serif;
	font-size: 1.5em;
	text-align: center;
	font-weight: 300
}


#general_links li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}


#member_links li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}




