body {  
    margin: 35px auto;  
    width: 635px; 
}  
  
header {  
    text-align: center;  
    margin: 0 0 20px;
}

footer{
	clear:both;
}


  
header h1 {  
    display: inline;  
    font-size: 32px;
 	font-family: 'Bookman Old Style', serif;
}  
  
header h1 a:link, header h1 a:visited {  
    color: #444;  
    text-decoration: none;  
}  
  
header h2 {  
    font-size: 16px;  
    font-style: italic;  
    color: #999;  
}  

header h3 {
	font-size: 12px;
	color: #773438;
}
  
#main {  
    margin: 0 0 20px;
  	padding-top: 35px;
}  
  
#input_section {  
    margin: 0 0 20px;  
}  
  
#input_section textarea {  
    height: 30px;  
    width: 500px;  
    padding: 10px;  
    border: 1px solid #ddd;  
}  
  
#input_section input {  
    height: 50px;  
    width: 100px;  
    margin: -50px 0 0;  
    border: 1px solid #ddd;  
    background: #fafafa;  
	font-style: bold;
	font-size: 13px;
	font-weight: 500;
}

#input_section input:hover{
	background: #E5E9E9;
}
 
  
#edit textarea {
    height: 30px;  
    width: 480px;  
    padding: 10px;  
    border: 1px solid #ddd;  
}  
  
#edit input[type=submit] {  
    height: 50px;  
    width: 100px;  
    margin: -50px 0 0;  
    border: 1px solid #ddd;  
    background: white;  
}  
  
#edit input[type=checkbox] {  
    height: 50px;  
    width: 20px;  
}  
  
article {  
    border: 1px solid #eee;  
    border-top: none;  
    padding: 15px 10px;  
}  
  
article:first-of-type {  
    border: 1px solid #eee;  
}  
  
article:nth-child(even) {  
    background: #fafafa;  
}  
  
article.complete {  
    background: #fedae3;  
}  
  
article span {  
    font-size: 0.8em;  
}  
  
p {  
    margin: 0 0 5px;  
}  
  
.meta {  
    font-size: 0.8em;  
    font-style: italic;  
    color: #888;
  	text-align: center;
}  

.meta2 {  
    font-size: 0.8em;  
    font-style: italic;  
    color: #888;
}
  
.links {  
    font-size: 1.8em;  
    line-height: 0.8em;  
    float: rightright;  
    margin: -10px 0 0;  
}  
  
.links a {  
    display: block;  
    text-decoration: none;  
}

.lang_source {
	font-size: 1.2em;    
    color: #650D12;
	
}

.lang_target {
	font-size: 1.2em;    
    color: #13570C;
	
}

.machine{
	color: #8B0000;
}

#logo {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: none;
	margin-left: auto;
	margin-right: auto;
}

#target {
	padding-left: 30px;
	
}

#input_sentence{
	font-size: 1.5em;
}

#intro{
	font-family: 'Bookman Old Style', serif;
	font-size: 1.3em;
	text-align: center;
	font-weight: 300
}

.player_name{
	font-size: 1.4em;
	font-family: 'Bookman Old Style', serif;
	text-align: center;
	
}

.player_rank{
	font-size: 1.2em;
	font-weight: 500;
	color: #540004;
}

.player_score{
	text-align: center;	
}

.the_score{
	font-size: 1.2em;
	font-weight: 500;
	color: #D1030E;
	
}

.trans_score{
	color: #773438;
}

.translation{
	font-weight: 600;
	
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.info_form{
	width: 250px;
	padding-left: 200px;
	
}

.info_form label{

}

.info_form p{
	padding:4px 4px 4px 4px;	
}

.info_form input{

	
	float:right;
}

.info_form select{
	
	
	float:right;
}

.lang_check{
	width: 100px;
	margin-left:70px;
	
}

#register{
	float:left;
	margin-left:50px;
	margin-top:5px;
	height: 20px;  
    width: 150px;    
    border: 1px solid #ddd;  
    background: #fafafa;  
	font-style: bold;
	font-size: 13px;
	font-weight: 500;
	
}

#register:hover{
	background: #E5E9E9;
}

#time{
	font-size: 1.2em;
	font-weight: 600;
	color: #D1030E;
	
}

#score_card{
	
	
}

#score_card h2{
	font-size: 1.2em;
	font-weight: 600;
	color: #D1030E;
	
}

.machine h4{
	font-size: 0.9em;
	font-weight: 500;
	color: #D1030E;
	
}

.machine h5{
	font-size: 0.9em;
	font-weight: 500;
	
}

h5{
	display: inline;
	color: #D1030E;
	
}

h4{
	font-size: 1.2em;
	font-weight: 500;
	color: #3232A0;
	
}

#p1{
	font-size: 1.1em;
	font-weight: 500;
	color: #7D0009;
}

#p1text{
	font-size: 1.1em;
	font-weight: 500;
	color: #022F52;
}

#p2{
	font-size: 1.1em;
	font-weight: 500;
	color: #9A333B;
}

#p2text{
	font-size: 1.1em;
	font-weight: 500;
	color: #264A66;
}

#p3{
	font-size: 1.1em;
	font-weight: 500;
	color: #E50212;
}

#p3text{
	font-size: 1.1em;
	font-weight: 500;
	color: #0B5A97;
}

#total{
	font-size: 1.5em;
	color: #D1030E;
	font-weight: 500;
	
}

#bonus{
	font-size: 1.3em;
	color: #3232A0;
	
}

.notice{
	color: #D1030E;
	font-weight: 500;
}




ul#main-nav {margin:0;padding:0px;float:left;width:100%;font-size:0.9em;position:absolute;}
ul#main-nav li {margin:0;padding:0;list-style:none;float:left;margin:0 0.3em 0 0;width:10.7em;}
ul#main-nav li a {text-decoration:none;display:block;padding:0.3em 0.5em;border:1px solid silver;color:#003;background:#fff;}
ul#main-nav li a:hover, ul#main-nav	li a:focus {border:1px solid gray;color:#000;background:#fafafa;}
ul#main-nav li ul {padding:0;display:none;}
ul#main-nav li:hover ul {display:block;}
ul#main-nav li ul li {float:none;}
ul#main-nav li ul li a {font-size:0.9em;}



